.NavigationMenuStyle{
    max-height: 0;
    top: 1000px;
    height: 100px;
    background: #000000;
}
#noneName{
    margin-top: 0;
}

img.bg {
    /* Set rules to fill background */
    min-width: 100%;

    /* Set up proportionate scaling */
    width: 100%;


    z-index: -1;
    /* Set up positioning */
    position: fixed;
    top: 0;
    color:white;
    left: 0;
}
